<html>
<head>

</head>
<body>
    <h1>Name:Ali Asger Mustafa Tabha</h1>
    <h1>Student ID : 1001841245</h1>
    <h1>____________________________________________________________</h1>
<form action="/query1" method="post" enctype="multipart/form-data" style="margin-left: 30%;margin-right:30%">
    <label for="fname">Name</label><br><br>
<input type="text" id="name" name="name" placeholder="Your name.."><br><br>

<label for="country">Enter Profession</label><br><br>
<select id="Profession" name="Profession">
<option value="professor">professor</option>
<option value="admin">Admin</option>
<option value="student">Student</option>
</select>
<br><br>
<input type="submit" value="Submit">
</form>
</body>
</html>