<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Guessing Game</title>
  </head>
  <body>
    <!-- <h1>Guessing Game</h1>
    <form action="/play" method="POST">
      <label for="p1_name">Player 1 name:</label>
      <input type="text" id="p1_name" name="p1_name"><br><br>
      <label for="p99_name">Player 99 name:</label>
      <input type="text" id="p99_name" name="p99_name"><br><br>
      <label for="low_range">Low range:</label>
      <input type="number" id="low_range" name="low_range" value="20"><br><br>
      <label for="high_range">High range:</label>
      <input type="number" id="high_range" name="high_range" value="200"><br><br>
      <label for="tolerance">Tolerance:</label>
      <input type="number" id="tolerance" name="tolerance" value="5"><br><br>
      <label for="countdown">Countdown (seconds):</label>
      <input type="number" id="countdown" name="countdown" value="45"><br><br>
      <label for="guess">Your guess:</label>
      <input type="number" id="guess" name="guess"><br><br>
      <input type="submit" value="Submit">
    </form> -->
    <h3>Judge</h3>
    <form action="/judge_home", method="POST" , method = "GET">
        <input type="submit" id="button" value="Submit"/>
    </form>
    <br>

    <h3>Player P1</h3>
    <form action="/player1_home", method="POST" , method = "GET">
        <input type="submit" id="button" value="Submit"/>
    </form>

    <h3>Player P99</h3>
    <form action="/player99_home", method="POST" , method = "GET">
        <input type="submit" id="button" value="Submit"/>
    </form>
<br>
  </body>
</html>



